<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat With Friends</title>
    <link rel="stylesheet" href="/public/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/public/chat.js" defer></script>

    <style>
      body {
        background-color: rgb(129, 129, 129);
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-light">
      <strong
        ><img
          src="https://img.icons8.com/ios-filled/50/000000/meetup.png"
        />MEET-UP</strong
      >
      <div>
        <a href="/logout"
          ><img src="https://img.icons8.com/ios-glyphs/30/000000/exit.png"
        /></a>
        <img
          src="https://img.icons8.com/material-rounded/24/000000/settings.png"
        />
        <img
          src="https://img.icons8.com/material-rounded/24/000000/feedback.png"
        />
      </div>
    </nav>
    <h1 style="text-align: center; text-shadow: 1px 1px 3px black">
      <img
        src="https://img.icons8.com/ios-filled/50/000000/meetup.png"
      />MEET-UP
    </h1>
    <p style="text-align: center">
      <em
        >Connect you globally around the world through video conferencing calls
        and chat rooms.</em
      >
    </p>
    <div class="cont">
      <div class="chatbox">
        <div class="container">
          <h2 style="text-align: center">
            <strong style="text-shadow: 1px 1px 3px black">CHAT ROOM</strong>
          </h2>
        </div>
        
        <div class="send">
          <form action="#" id="send-container">
            <input type="text" name="messageInp" id="messageInp" />
            <button class="btn btn-sm" type="submit" href="#">
              <h4 style="color: white">SEND</h4>
            </button>
          </form>
        </div>
      </div>
      <div class="part">
        <h2 style="text-align: center">
          <strong style="text-shadow: 1px 1px 3px black">PARTICIPANTS</strong>
        </h2>
      </div>
    </div>
  </body>
</html>
