<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/home.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: rgb(133, 134, 134);
      }
    </style>
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-light">
      <strong
        ><img
          src="https://img.icons8.com/ios-filled/50/000000/meetup.png"
        />MEET-UP</strong
      >
      <div>
        <a href="/logout"
          ><img src="https://img.icons8.com/ios-glyphs/30/000000/exit.png"
        /></a>
        <img
          src="https://img.icons8.com/material-rounded/24/000000/settings.png"
        />
        <img
          src="https://img.icons8.com/material-rounded/24/000000/feedback.png"
        />
      </div>
    </nav>

    <div class="cont">
      <div class="head">
        <h2 style="text-shadow: 1px 1px 3px black">
          <img
            src="https://img.icons8.com/ios-filled/50/000000/meetup.png"
          />MEET-UP
        </h2>
        <p>
          <em
            >Connect you globally around the world through video conferencing
            calls and chat rooms.</em
          >
        </p>
      </div>

      <div class="left">
        <div class="flip-card">
          <div
            style="
              text-align: center;
              background-color: white;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
          >
            <h1 style="text-shadow: 1px 1px 3px black">CHAT ROOM</h1>
          </div>
          <div class="flip-card-inner">
            <div class="flip-card-front flip1">
              <!-- <h5 class="card-title">CHAT ROOM</h5> -->
            </div>
            <div class="flip-card-back">
              <h4
                style="
                  margin: 15%;
                  font-size: x-large;
                  font-family: Arial, Helvetica, sans-serif;
                "
              >
                Make a simple chat room where you can send messages to your
                friends and other peers around the globe
              </h4>
              <a href="/chat" class="btn btn-dark">JOIN</a>
              <p>To make a chat room click the button below</p>
            </div>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="flip-card">
          <div
            style="
              text-align: center;
              background-color: white;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
          >
            <h1 style="text-shadow: 1px 1px 3px black">VIDEO ROOM</h1>
          </div>
          <div class="flip-card-inner">
            <div class="flip-card-front flip2">
              <!-- <h5 class="card-title">VIDEO ROOM</h5> -->
            </div>
            <div class="flip-card-back">
              <h3
                style="
                  margin: 15%;
                  font-size: x-large;
                  font-family: Arial, Helvetica, sans-serif;
                "
              >
                Make a video room and get connected with you family, relatives
                and colleague through a video chat
              </h3>

              <a href="/video" class="btn btn-dark">JOIN</a>
              <p>To make a video chat room click the button below</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
